

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.share-button{
    position: relative;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    width: 267px;
    height: 267px;
}
.outer-share{
    position: absolute;
    top: 109px;
    left: 109px;
}
.share {
    background-color: white;
    z-index: 1;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 26px;
    padding: 12px 17px 18px 12px;
    overflow: hidden;
    /* top: 0; */
    /* left: 38.5vw; */
}
.share:hover{
    box-shadow: 0 0 20px 0 black;
    transform: scale(1.07);
    transition: transform 0.2s linear;
}


.share img {
    position: absolute;
}

#check {
    top: -1px;
    left: -2px;
    position: absolute;
    opacity: 0;
    z-index: 2;
    width: 114%;
    margin: 0;
    height: 112%;
}

.upper,
.lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9px;
    position: relative;
}

.y {
    width: 10px;
    height: 10px;
    background-color: white;
    animation: all;
    animation-duration: 0.2s;
    text-align: center;
}
.sect1{
    border-top-left-radius: 120px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.sect2{
    border-top-right-radius: 120px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.sect3{
    border-bottom-left-radius: 120px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.sect4{
    border-bottom-right-radius: 120px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.y img{
    width: 30px;
    margin: 0 -10px 4px -11px;
    display: none;
}

 .y:hover{
    transform: scale(1.05);
    transition: transform 0.2s linear; 
 }
.sect1:hover{
    background: linear-gradient(to right, red, rgb(255, 187, 0));
    img{
        filter: invert(1);
    }
}
.sect2:hover{
    background-color: black;
    img{
        filter: invert(1);
    }
}
.sect3:hover{
    background-color: rgb(0, 115, 255);
    img{
        filter: invert(1);
    }
}
.sect4:hover{
    background-color: rgb(93, 0, 255);
    img{
        filter: invert(1);
    }
}

@keyframes zoom{
    from {}

    to {
        background-color: lawngreen;
        padding: 9px;
    }
}

@keyframes sect1-anim {
    from {}

    to {
        position: absolute;
        bottom: 3px;
        right: 8px;
        width: 120px;
        height: 120px;
    }
}

@keyframes sect2-anim {
    from {}

    to {
        position: absolute;
        bottom: 3px;
        left: 8px;
        width: 120px;
        height: 120px;
    }
}

@keyframes sect3-anim {
    from {}

    to {
        position: absolute;
        top: 4px;
        right: 8px;
        width: 120px;
        height: 120px;
    }
}

@keyframes sect4-anim {
    from {}

    to {
        position: absolute;
        top: 4px;
        left: 8px;
        width: 120px;
        height: 120px;
    }
}